.Members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
    .MemberCard {
        width: 32%;
        margin-bottom: 3rem;
        text-align: center;
        .ProPic {
            width: 100%;
            height: 400px;
            background-size: cover;
            background-position: top center;
            transition: background-size 200ms ease-in;
        }
        h2 {
            margin: 1rem 0 0 0;
        }
        h5 {
            margin: 0;
            font-weight: normal;
            font-size: .9rem;
        }
    }
}