@import '../../../assets/styles/mixin.scss';


.SingleEventPage {
    padding-bottom: 5rem;
    .PageNav {
        padding: 2rem 1rem 0 1rem;
        
        span {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: $rotary-dark-blue;
            cursor: pointer;
            svg {
                width: 30px;
                margin-right: 10px;
            }
        }
    }
    .EventContainer {
        display: flex;
        .Event {
            width: 65%;
            .EventDetails {
                padding: 0 3rem;
                h2 {
                    font-family: $body-font;
                }
                
            }
        }
        aside {
            width: 35%;
            // border-left: 1px solid $border-grey;
            padding: 1rem;
            padding-top: 4rem;
        }
    }
}