@import '../../../assets/styles/mixin.scss';


.SingleEventPage {
    padding-bottom: 5rem;
    .PageNav {
        padding: 2rem 1rem 0 1rem;
        width: 100%;
        span {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: $rotary-dark-blue;
            cursor: pointer;
            svg {
                width: 30px;
                margin-right: 10px;
            }
        }
    }
    .EventContainer {
        display: flex;
        .Event {
            width: 65%;
            padding-left: 5rem;
            .EventDetails {
                
                h2 {
                    font-family: $body-font;
                    margin-top: 0;
                }
                
            }
            @include media($tablet) {
                width: 100%;
                padding-left: 0;
                .EventDetails {
                    padding: 0 4rem;
                }
            }
            @include media($mobile) {
                .EventDetails {
                    padding: 0;
                }
            }
        }
    }
}