@import '../../../assets/styles/mixin.scss';

.President {
    padding: 5rem 0;
    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: normal;
        color: $rotary-dark-blue;
        margin: 0 0 3rem;
    }
    .Content {
        display: flex;
        align-items: flex-start;
        .ContentDetails {
            width: 70%;
            padding-left: 3rem;
            font-size: 1.2rem;
            font-weight: 300;
            max-width: 600px;
            .Message {
                margin-bottom: 3rem;
            }
        }
        img {
            width: 30%;
        }
        @include media($laptop) {
            img {
                width: 40%;
            }
            .ContentDetails {
                width: 60%;
                padding: 0 2rem;
            }
        }
        @include media($mobile) {
            flex-direction: column;
            img { width: 100% }
            .ContentDetails { 
                width: 100%; 
                padding: 0;
                .Message {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}