@import '../../../assets/styles/mixin.scss';

.CausesLinks {
    padding: 1rem;
    border-bottom: 1px solid $border-grey;
    margin-bottom: 2rem;
    @include media($mobile) {
        padding: 1rem 0;
    }
    h2 {
        margin-top: 0;
        color: $rotary-dark-blue;
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
            margin-bottom: 1rem;
            a {
                display: flex;
                align-items: center;
                background-color: $grey;
                &.Active {
                    box-shadow: 3px 4px 7px $black;
                }
                .BackgroundImg {
                    width: 40%;
                    height: 90px;
                    display: none;
                    background: {
                        size: cover;
                        position: center center;
                    }
                }
                img {
                    width: 40%;
                    height: 100% !important;
                    object-fit: cover;
                }
                h4 {
                    width: 60%;
                    padding: 0 0 0 1rem;
                    line-height: normal;
                    font-weight: normal;
                    margin: 0;
                    @include media($tablet) {
                        font-size: .8em;
                    }
                }
            }
        }
    }
}