@import '../../assets/styles/mixin.scss';

.AboutSection {
    padding: 4rem 1rem 4rem 1rem;
    background-color: $grey;
    min-height: 500px;
    .ContentContainer {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        color: $text-color;
        .Content {
            max-width: 800px;
            width: 100%;
        }
        h1 {
            font-size: 3rem;
            color: $rotary-dark-blue;
            margin: 0 0 2rem 0;
            font-weight: 400;
        }
        img {
            width: 100%;
        }
        p {
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.7;
            padding-bottom: 1.5rem;
        }
    }
    .LoaderContainer {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ErrorContainer {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            margin: 0;
            font-size: 0.9em;
        }
    }
}