@import '../../assets/styles/mixin.scss';

.Footer {
    background: $rotary-dark-blue;
    color: $rotary-yellow;
    padding: 3rem 0 9rem;
    .Row {
        display: flex;
        .FooterSection {
            width: 25%;
            padding: 1rem;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
        }
        .LogoCopyRight {
            width: 35%;
            .Logo {
                
                h2 {
                    margin: 0;
                    font-size: 36px;
                    color: $rotary-yellow !important;
                }
                h3 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: normal;
                    color: $rotary-yellow !important;
                }
            }
            .CopyRight {
                margin-top: 20px;
                h5, h6 {
                    color: $rotary-yellow !important;
                    font-size: 14px;
                    font-weight: normal;
                    letter-spacing: 1px;
                    margin: 0 0 8px;
                }
            }
        }
        .ContactDetails {
            @include media($laptop) {
                width: 30%;
            }
            ul {
                li {
                    font-weight: normal;
                    &:first-child {
                        color: $rotary-yellow;
                        font-size: 18px;
                        margin-bottom: 2rem;
                    }
                    &:nth-child(3) {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        .Nav {
            ul {
                li {
                    margin-bottom: .5rem;
                    .Active {
                        color: $rotary-yellow;
                    }
                }
            }
        }
        .SocialMediaLinks {
            ul {
                li {
                    margin-bottom: 1rem;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        svg {
                            margin-right: 15px;
                            fill: $rotary-yellow;
                        }
                        span {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        @include media($mobile) {
            flex-wrap: wrap;
            .FooterSection {
                width: 100%;
            }
            .Nav {
                display: none;
            }
        }
    }
}