@import '../../assets/styles/mixin.scss';

.ViewAllBtn {
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px 60px;
    margin: 30px auto 0;
    border: 1px solid $rotary-sky-blue;
    color: $rotary-dark-blue;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 200ms ease-in-out;
    &:hover {
        color: $white;
        background-color: $rotary-sky-blue;
    }
}